<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spring.cloud.order.UserMapper">
	<!-- <resultMap id="BaseResultMap" type="org.service.one.entity.User_info" >
	    <id column="id" property="id" jdbcType="VARCHAR" />
	    <result column="userName" property="userName" jdbcType="VARCHAR" />
	    <result column="sex" property="sex" jdbcType="VARCHAR" />
	    <result column="address" property="address" jdbcType="VARCHAR" />
	    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
	    <result column="mail" property="mail" jdbcType="VARCHAR" />
	    <result column="idNo" property="idNo" jdbcType="VARCHAR" />
	    <result column="openid" property="openid" jdbcType="VARCHAR" />
	    <result column="access_token" property="access_token" jdbcType="VARCHAR" />
	    <result column="refresh_token" property="refresh_token" jdbcType="VARCHAR" />
	    <result column="headimgurl" property="headimgurl" jdbcType="VARCHAR" />
	    <result column="status" property="status" jdbcType="VARCHAR" />
	  </resultMap> -->
	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 	id,	user_name,	sex,	address,	mobile,	mail,	id_no,	password,openid,access_token,refresh_token,headimgurl,rongCloud_token,status
	</sql>
	
	<!-- 根据手机号查询 -->
	<select id="selectByPhone" resultType="org.spring.cloud.order.entity.PageData" parameterType="org.spring.cloud.order.entity.PageData">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM user_info
		 WHERE mobile = #{mobile} 
	</select>

</mapper>